/.eslintrc.json
/.github
/.idea
/.mergify.yml
/.vscode
/coverage
/src
/test
/test-reports/
/tsconfig.eslint.json
/tsconfig.jest.json
/tsconfig.json
dist
junit.xml
!.jsii
!/lib
!/lib/**/*.d.ts
!/lib/**/*.js
!/lambda
!/lambda/**/*.d.ts
!/lambda/**/*.js